.tabla-css{
    margin:auto;
    overflow-y:scroll;
    width:95%;

}

.table td {
  overflow:hidden;
  word-wrap:break-word;
}


pre{
    white-space: pre-wrap;
    font-size:16px ;
    font-family: 'Poppins', sans-serif;
}

.fa-pen:hover {
    color: blue !important;
    transform: scale(1.5);
}

.fa-trash:hover {
    color: red !important;
    transform: scale(1.5);
}

.color-accesso{
    color:aqua;
    font-size: 15px;
    text-align: center;
}